<?xml version="1.0" ?>
<robot name="kr5_main" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:arg name="camera_arm" default="false"/>
  <xacro:arg name="gripper_2f" default="false"/>

  <xacro:include filename="$(find kr5_gazebo)/urdf/gazebo.xacro"/>

  <!-- camera arm-->
  <xacro:if value="$(arg camera_arm)">
    <xacro:include filename="$(find kr5_gazebo)/urdf/camera_arm.xacro"/>
  </xacro:if>
  

  <!-- gripper -->
  <xacro:if value="$(arg gripper_2f)">
    <xacro:include filename="$(find kr5_gazebo)/urdf/gazebo_2f.xacro"/>
  </xacro:if>

</robot>